@import "../customs/colors";
@import "../customs/utilities";

.grid-container {
  display: grid;
  min-height: calc(100vh - 290px);
  grid-template-columns: 0.5fr 2.6fr 0.1fr 1.5fr;
  grid-template-rows: 0.2fr 0.1fr 2.7fr;
  gap: 0px 0px;
  grid-template-areas:
    "Sidebar Navigation Navigation Link"
    "Sidebar Dashboard Dashboard Preview"
    "Sidebar Dashboard Dashboard Preview";
}

// SIDEBAR
.Sidebar {
  grid-area: Sidebar;
}

// NAVIGATION
.Navigation {
  grid-area: Navigation;
}

// PREVIEW
.Preview {
  grid-area: Preview;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .iphone {
    &-frame {
      position: absolute;
      overflow: hidden;
      height: 600px;
      width: 275px;
      border-radius: 50px;
      border: solid #333 10px;
    }

    // &-bg {
    //   position: relative;
    //   width: 100vh;
    //   height: 100%;
    //   z-index: 1;
    // }

    &-background {
      position: relative;
      width: 100vh;
      height: 100%;
      z-index: 1;
    }

    &-avatar {
      position: absolute;
      top: 15%;
      left: 30%;
      width: 100px;
      height: 100px;
      z-index: 2;
      border-radius: 50%;
      display: inline-block;
      object-fit: cover;
    }

    &-links {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200px;
    }

    &-link {
      margin: 5px 0;
    }
  }
}

// DASHBOARD
.Dashboard {
  grid-area: Dashboard;

  .avatarformcont {
    display: flex;
    position: relative;
    padding-bottom: 5%;
    margin-left: 2.5%;
    border-bottom: 3px dotted lightgray;

    .loading-complete {
      color: white;
      background-color: green;
      display: inline-block;
      position: absolute;
      bottom: 15px;
      padding: 2.5px 5px;
      border-radius: 10px;
      left: 5px;
    }
  }

  .avatar-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    background: white;
  }

  .progress {
    margin: 1rem 0;
    background-color: red;

    &-seek {
      background-color: green;
      height: 3px;
    }
  }

  .formavatar {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .buttonsenzo {
      display: flex;
      flex-direction: column;

      margin-left: 10%;

      .add-btn {
        margin: 5px;
        width: 100px;
      }

      .reset-btn {
        margin: 5px;
        width: 100px;
      }

      .submit-btn {
        margin: 5px;
        width: 100px;
      }
    }
  }

  .edit-input {
    border: 0;
    border-bottom: 1px solid #b4becb;
    padding: 3px;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }

  .profile-info {
    flex: 0.75;
    margin-left: 10%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    // align-items: center;
    align-self: center;
  }

  .logerror {
    background-color: #ff0102;
    font-weight: bold;
    color: white;
    padding: 0.3rem 0.7rem;
    display: table;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .profile-input {
    width: 150px;
    margin: 15px;
    opacity: 0.75;
    outline: none;
    border: none;
    margin-right: 5%;
  }
}

.link-container {
  display: flex;
  justify-content: space-between;
}

.yellowstyle {
  background: linear-gradient(to bottom, yellow, black);

  &-links {
    background: #5e5d0d;
    padding: 5px 10px;
    color: white;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
  }
}
.yellowtheme {
  width: 125px;
  height: 200px;
  background: linear-gradient(to bottom, yellow, black);
  border: solid 5px #333;
  border-radius: 12.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .yellowlinks {
    width: 50px;
    height: 12.5px;
    background: #5e5d0d;
    border: 1px solid white;
    border-radius: 2px;
    margin: 10px 0;
  }
}

.graystyle {
  background: linear-gradient(to bottom, grey, white);

  &-links {
    background: rgba(255, 255, 255, 0.797);
    padding: 5px 10px;
    color: #878787;
    margin: 10px 0;
    border: 1px solid #878787;
    border-radius: 3px;
    box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
  }
}
.graytheme {
  width: 125px;
  height: 200px;
  background: linear-gradient(to bottom, grey, white);
  border: solid 5px #333;
  border-radius: 12.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .graylinks {
    width: 50px;
    height: 12.5px;
    background: rgba(255, 255, 255, 0.797);
    border: 1px solid #878787;
    border-radius: 2px;
    margin: 10px 0;
  }
}

.pinkstyle {
  background: linear-gradient(to bottom, pink, grey);

  &-links {
    background: #878787;
    padding: 5px 10px;
    color: white;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
  }
}
.pinktheme {
  width: 125px;
  height: 200px;
  background: linear-gradient(to bottom, pink, grey);
  border: solid 5px #333;
  border-radius: 12.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .pinklinks {
    width: 50px;
    height: 12.5px;
    background: #878787;
    border: 1px solid white;
    border-radius: 2px;
    margin: 10px 0;
  }
}

.blackstyle {
  background: linear-gradient(to bottom, black, grey);

  &-links {
    background: #878787;
    padding: 5px 10px;
    color: black;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
  }
}
.blacktheme {
  width: 125px;
  height: 200px;
  background: linear-gradient(to bottom, black, grey);
  border: solid 5px #333;
  border-radius: 12.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .blacklinks {
    width: 50px;
    height: 12.5px;
    background: #878787;
    border: 1px solid white;
    border-radius: 2px;
    margin: 10px 0;
  }
}

.brownstyle {
  background: linear-gradient(to bottom, brown, white);

  &-links {
    background: white;
    padding: 5px 10px;
    color: brown;
    margin: 10px 0;
    border: 1px solid brown;
    border-radius: 3px;
    box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
  }
}
.browntheme {
  width: 125px;
  height: 200px;
  background: linear-gradient(to bottom, brown, white);
  border: solid 5px #333;
  border-radius: 12.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .brownlinks {
    width: 50px;
    height: 12.5px;
    background: white;
    border: 1px solid brown;
    border-radius: 2px;
    margin: 10px 0;
  }
}

// LINK
.Link {
  grid-area: Link;
}
