@import "../customs/colors";
@import "../customs/utilities";

.checkums {
  color: white !important;
  background-color: red !important;
}

.textings {
  color: white !important;
  background-color: red !important;
}
