@import "../customs/colors";
@import "../customs/utilities";

.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  & > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
}

// --> MQ: Tablet !
@media (max-width: 768px) {
  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }
}

// --> MQ: Mobile !
@media (max-width: 500px) {
}
