@import "../customs/colors";
@import "../customs/utilities";

label {
  font-weight: bold;
}

legend {
  font-size: 1.3rem;
  font-weight: bolder;
}

.negoform {
  display: table;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 30%;
}

.negoinput {
  padding: 0.5rem 0;
  margin-bottom: 1.25rem;
  border: none;
  border-bottom: solid 3px $light-color;
  width: 100%;

  &:focus {
    outline: none;
  }
}

fieldset {
  border-color: $primary-color;
  border-radius: 3px;
  padding: 10px 30px;
}

.logerror {
  background-color: #ff0102;
  font-weight: bold;
  color: white;
  padding: 0.3rem 0.7rem;
  display: table;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .docs-head {
    text-align: center;

    img {
      justify-self: center;
    }
  }

  .negoform {
    display: table;
    width: 100%;
  }
}

// --> MQ: Mobile !
@media (max-width: 500px) {
}
