@import "../customs/colors";
@import "../customs/utilities";

.prof-center {
  display: table;
  margin: 0 auto;
  height: 100vh;
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-align: center !important;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
}

@media (max-width: 500px) {
  .prof-center {
    padding-top: 5rem;
    padding-bottom: 7rem;
  }

  .avatar {
    width: 175px;
    height: 175px;
  }

  .prof-center {
    ul li a {
      padding: 10px;
      width: 300px;
    }
  }
}
