.profiel-content {
  background-color: red;
}

.centeriteven {
  display: table;
  margin: 10rem auto !important;
  text-align: center !important;
}

.links {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;

  &:hover {
    color: white;
    background: red;
    transition: color 2s;
    transition: background 1s;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
  padding-top: 2.5rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}
